* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.menu {
  font-size: 17px;
  line-height: 41px;
  color: #212121;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-weight: 900;
  display: flex;
}
.menu1{
  padding-left: 25px;
}

.menu1:hover {
  color: #fed136;
}


.header {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 25px;
  letter-spacing: -1px;
  line-height: 75px;
  color: #222222;
  font-family: "Roboto Slab", serif;
  font-weight: 900;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.subtitle {
  font-size: 20px;
  color: #777777;
  font-weight: 400;
  font-style: italic;
   margin-top: -30px; 
  display: flex;
  justify-content: center;
}

.img {
  width: 38px;
  height: 38px;
}

.h2 {
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 75px;
  color: #222222;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-align: center;
}

.p {
  /* width: 280px; */
  /* height: 58px; */
  font-size: 14px;
  letter-spacing: 0px;
  color: #777777;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  text-align: center;
  margin-top: -20px;
}

.services1 {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
}

.circle {
  margin-left: 95px;
  margin-bottom: -30px;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
}

body {
  display: flex;
  flex-direction: column;
  font: 16px/100% Arial, Helvetica, sans-serif;
  justify-content: center;
}

.contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-us-wrapper {
  margin-top: 120px;
  width: 100%;
  height: 100%;
  background-image: url(../img/MapImage.png);
  background-size: cover;
  max-width: 100%;
   display: flex;
  justify-content: center;
}

.input {
  font-size: 10px;
  letter-spacing: 0px;
  color: #bbbbbb;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding: 20px;
}

.textarea {
  padding: 20px;
  height: 210px;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(50% - 15px);
}

.form {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.para {
  font-size: 16px;
  color: #777777;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 75px;
}

.h2-2 {
  font-size: 40px;
  letter-spacing: -1px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  margin-top: 110px;
}

.right {
  display: flex;
  flex-direction: column;
  width: calc(50% - 15px);
}

.button {
  background-color: #fed136;
   width: 240px; 
  height: 65px;
  color: white;
  display: flex;
  justify-content: center;
  margin-left: 40%;
  margin-top: 30px;
  border: none;
  outline: none;
  margin-bottom: 58px;
}

.map {
  display: flex;
  justify-content: center;
}

.services {
  margin-top: 10px;
  margin-bottom: 40px;
}

.icon {
  width: 70px;
  height: 70px;
  border: 2px solid #fed136;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

@media (max-width: 540px) {
.titles{
  display: flex;
  flex-direction: column;
}
.services1{
  /* display: flex; */
  flex-direction:	column;
justify-content: center;
}
.bl{
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap:	none;
  align-items: center;
}
.menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-us-wrapper{
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
}
.form{
  flex-direction: column;
  justify-content: center;
}
.h2-2{
  justify-content: center;
}
.para{
  justify-content: center;
}
.button{
  width: 200px;
}
.right{
  width: 100%;
}
.left{
  width: 100%;
}
.form-wrapper{
  width: 100%;
}
.container{
  width: 100%;
}
.logo{
  display: flex;
  justify-content: center;
}
.circle{
  justify-content: center;
}
.img{
  justify-content: center;
}
}
@media(max-width: 1199.98px){

}
@media (max-width: 767.98px) {  
.form{
  max-width: 100%;
}
